@font-face {
    font-family: "JetBrains Mono";
    src: url("JetBrainsMono-Thin.ttf") format("truetype");
}
body {
    font-family: 'JetBrains Mono', serif;
    background-color: rgb(38, 38, 38);
    color: white;
}
/* improve contrast */
a {
    color: #3484f8;
}

a:visited {
    color: #b869fa;
}

.content {
    max-width: 30em;
    margin: auto;
}